@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@inject IHttpContextAccessor HttpContextAccessor
@{ string customerString = HttpContextAccessor.HttpContext.Session.GetString("ValidCustomer");
    Customer customer = null;

    if (customerString != null)
    {
        customer = JsonConvert.DeserializeObject<Customer>(customerString);
    }

}
@model VMBase
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Educavo-By AyShan</title>
    <meta name="description" content="" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.html" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/fav-orange.png" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/css/off-canvas.css" />
    <link rel="stylesheet" type="text/css" href="~/fonts/linea-fonts.css" />
    <link rel="stylesheet" type="text/css" href="~/fonts/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/menu-main.css" />
    <link rel="stylesheet" type="text/css" href="~/css/spacing.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <style>
        #gacta {
            float: right !important;
        }
       
    </style>

</head>

<body>
    <!--Preloader-->
    <div id="loader" class="loader orange-color">
        <div class="loader-container">
            <div class="loader-icon">
                <img src="~/images/pre-logo1.png" alt="" />
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="main-area">
        <!--Full background header-->
        <div class="full-bg-header myhome-stylea main-home">
            <!--Header-->
            <header id="ga-header" class="ga-header">
                <!-- Menu -->
                <div class="menu-area menu-sticky">
                    <div class="container">
                        <div class="row y-middle">
                            <div class="col-lg-2">
                                <div class="mylogo-wrapper">
                                    <div class="logo-part">
                                        <a asp-controller="Home" asp-action="Index">
                                            <img class="normal-logo" src="~/images/lite-logo.png" alt="" />
                                            <img class="sticky-logo" src="~/images/dark-logo.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 text-right">
                                <div class="ga-menu-area">
                                    <div class="main-menu">
                                        <div class="mobile-menu">
                                            <a class="ga-menu-toggle">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                        </div>
                                        <nav class="ga-menu ga-menu-close">
                                            <ul class="nav-menu">
                                                <li class="ga-mega-menu mega-ga mymenu-has-child mymain-current-item">
                                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                                </li>
                                                <li class="mymenu-has-child">
                                                    <a asp-controller="About" asp-action="Index">About</a>
                                                </li>
                                                <li class="mymenu-has-child">
                                                    <a asp-controller="Course" asp-action="Index">Courses</a>

                                                </li>
                                                <li class="mymenu-has-child">
                                                    <a asp-controller="Team" asp-action="Index">Team</a>

                                                </li>

                                                <li class="mymenu-has-child">
                                                    <a asp-controller="Blog" asp-action="Index">Blog</a>

                                                </li>
                                                <li class="mymenu-has-child">
                                                    <a href="#">Others</a>
                                                    <ul class="sub-menu">

                                                        <li class="mymenu-has-child">
                                                            <a asp-controller="Gallery" asp-action="Index">Gallery</a>
                                                        </li>
                                                        <li class="mymenu-has-child">
                                                            <a asp-controller="Faq" asp-action="Index">FAQ</a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="mymenu-has-child">
                                                    <a asp-controller="Contact" asp-action="Index">Contact</a>
                                                </li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-right">
                                <div class="expand-btn-inner">
                                    <ul>

                                        <li>
                                            <a class="hidden-xs ga-search" data-target=".search-modal" data-toggle="modal" href="#">
                                                <i class="flaticon-search"></i>
                                            </a>
                                        </li>
                                        @if (customer != null)
                                        {
                                            <li class="user-icon last-icon">
                                                <a asp-controller="account" asp-action="index" title="@customer.Name"><i class="fa fa-user" aria-hidden="true"></i></a>

                                            </li>
                                        }
                                        else
                                        {
                                            <li class="user-icon last-icon">
                                                <a asp-controller="home" asp-action="Login"><i class="fa fa-user" aria-hidden="true"></i></a>
                                            </li>
                                        }
                                    </ul>
                                    <span>
                                        <a id="nav-expander" class="nav-expander">
                                            <span class="dot1"></span>
                                            <span class="dot2"></span>
                                            <span class="dot3"></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Canvas start -->
                <nav class="right_menu_togle hidden-md">
                    <div class="close-btn">
                        <div id="nav-close">
                            <div class="line">
                                <span class="line1"></span><span class="line2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="canvas-logo">
                        <a href="index.html"><img src="~/images/dark-logo.png" alt="logo" /></a>
                    </div>
                    <div class="offcanvas-text">
                        <p>
                            We denounce with righteous indige nationality and dislike men
                            who are so beguiled and demo by the charms of pleasure of the
                            moment data com so blinded by desire.
                        </p>
                    </div>
                    <div class="offcanvas-gallery">
                        <div class="gallery-img">
                            <a class="image-popup" href="~/images/gallery/1.jpg">
                                <img src="~/images/gallery/1.jpg" alt="" />
                            </a>
                        </div>
                        <div class="gallery-img">
                            <a class="image-popup" href="~/images/gallery/2.jpg">
                                <img src="~/images/gallery/2.jpg" alt="" />
                            </a>
                        </div>
                        <div class="gallery-img">
                            <a class="image-popup" href="~/images/gallery/3.jpg">
                                <img src="~/images/gallery/3.jpg" alt="" />
                            </a>
                        </div>
                        <div class="gallery-img">
                            <a class="image-popup" href="~/images/gallery/4.jpg">
                                <img src="~/images/gallery/4.jpg" alt="" />
                            </a>
                        </div>
                        <div class="gallery-img">
                            <a class="image-popup" href="~/images/gallery/5.jpg">
                                <img src="~/images/gallery/5.jpg" alt="" />
                            </a>
                        </div>
                        <div class="gallery-img">
                            <a class="image-popup" href="~/images/gallery/6.jpg">
                                <img src="~/images/gallery/6.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="map-img">
                        <img src="~/images/map.jpg" alt="" />
                    </div>
                    <div class="canvas-contact">
                        <ul class="social">
                            @foreach (var item in Model.Socials.OrderByDescending(i => i.Id).Take(4))
                            {
                                <li><a href="@item.Link"><i class="@item.Icon"></i></a></li>
                            }
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
        <!-- Slider Start -->
        <div class="ga-slider main-home">
            <div class="ga-carousel owl-carousel" data-loop="true" data-items="1" data-margin="0" data-autoplay="true"
                 data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false"
                 data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1"
                 data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1"
                 data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1"
                 data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="1"
                 data-md-device-nav="true" data-md-device-dots="false">
                <div class="slider-content slide1">
                    <div class="container">
                        <div class="content-part">
                            <div class="sl-sub-title wow bounceInLeft" data-wow-delay="300ms"
                                 data-wow-duration="2000ms">
                                Start to learning today
                            </div>
                            <h1 class="sl-title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">
                                Online Courses From Leading Experts
                            </h1>
                            <div class="sl-btn wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                                <a class="readon orange-btn main-home" asp-controller="course" asp-action="index">Find Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-content slide2">
                    <div class="container">
                        <div class="content-part">
                            <div class="sl-sub-title wow bounceInLeft" data-wow-delay="300ms"
                                 data-wow-duration="2000ms">
                                Start to learning today
                            </div>
                            <h1 class="sl-title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">
                                Explore Interests and Career With Courses
                            </h1>
                            <div class="sl-btn wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                                <a class="readon orange-btn main-home" asp-controller="course" asp-action="index">Find Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Features start -->
            <div id="ga-features" class="ga-features main-home">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 md-mb-30">
                            <div class="features-wrap">
                                <div class="icon-part">
                                    <img src="~/images/features/icon/3.png" alt="" />
                                </div>
                                <div class="content-part">
                                    <h4 class="title">
                                        <span class="watermark">5,320 online courses</span>
                                    </h4>
                                    <p class="dese">Enjoy a variety of fresh topics</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 md-mb-30">
                            <div class="features-wrap">
                                <div class="icon-part">
                                    <img src="~/images/features/icon/2.png" alt="" />
                                </div>
                                <div class="content-part">
                                    <h4 class="title">
                                        <span class="watermark">Expert instruction</span>
                                    </h4>
                                    <p class="dese">Find the right instructor</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="features-wrap">
                                <div class="icon-part">
                                    <img src="~/images/features/icon/1.png" alt="" />
                                </div>
                                <div class="content-part">
                                    <h4 class="title">
                                        <span class="watermark">Lifetime access</span>
                                    </h4>
                                    <p class="dese">Learn on your schedule</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()

        <!-- Footer -->
        <footer id="ga-footer" class="ga-footer home9-style main-home">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                            <div class="footer-logo mb-30">
                                <a href="index.html"><img src="~/images/lite-logo.png" alt="" /></a>
                            </div>
                            <div class="textwidget pr-60 md-pr-15">
                                <p class="white-color">
                                    We denounce with righteous indi gnation and dislike men who
                                    are so beguiled and demoralized by the charms of pleasure of
                                    your moment, so blinded by desire those who fail weakness.
                                </p>
                            </div>
                            <ul class="footer_social">
                                @foreach (var item in Model.Socials.OrderByDescending(i => i.Id).Take(5))
                                {
                                    <li>
                                        <a href="@item.Link" target="_blank"><span><i class="@item.Icon"></i></span></a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                            <h3 class="widget-title">Address</h3>
                            <ul class="address-widget">
                                <li>
                                    <i class="flaticon-location"></i>
                                    <div class="desc">
                                        @Model.Contacts.FirstOrDefault().Address
                                    </div>
                                </li>
                                <li>
                                    <i class="flaticon-call"></i>
                                    <div class="desc">
                                        <a href="tel:@Model.Contacts.FirstOrDefault().Phone">@Model.Contacts.FirstOrDefault().Phone</a>
                                    </div>
                                </li>
                                <li>
                                    <i class="flaticon-email"></i>
                                    <div class="desc">
                                        <a href="mailto:@Model.Contacts.FirstOrDefault().Email">@Model.Contacts.FirstOrDefault().Email</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="
                col-lg-3 col-md-12 col-sm-12
                pl-50
                md-pl-15
                footer-widget
                md-mb-50
              ">
                            <h3 class="widget-title">Courses</h3>
                            <ul class="site-map">
                                <li><a asp-controller="Course" asp-action="Index">Courses</a></li>
                                <li><a asp-controller="Team" asp-action="Index">Team</a></li>
                                <li><a asp-controller="Gallery" asp-action="Index">Gallery</a></li>
                                <li><a asp-controller="Home" asp-action="Login">Profile</a></li>
                                <li><a asp-controller="Home" asp-action="Register">Login/Register</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                            <h3 class="widget-title">Recent Posts</h3>
                            @foreach (var item in Model.RecentPosts)
                            {
                                <div class="recent-post mb-20">
                                    <div class="post-img">
                                        <img src="~/Uploads/Images/@item.Image" alt="" />
                                    </div>
                                    <div class="post-item">
                                        <div class="post-desc">
                                            <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                                        </div>
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i>
                                            @item.AddedDate.ToString("MMMM dd, yyyy")
                                        </span>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row y-middle">
                        <div class="col-lg-6 md-mb-20">
                            <div class="copyright">
                                <p>
                                    &copy; 2020 All Rights Reserved. Developed By
                                    <a href="#"> G.AiShan</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 text-right md-text-left">
                            <ul class="copy-right-menu">
                                <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                                <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- start scrollUp  -->
        <div id="scrollUp" class="orange-color">
            <i class="fa fa-angle-up"></i>
        </div>
        <!-- Search Start -->
        <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="flaticon-cross"></span>
            </button>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="search-block clearfix">
                        <form asp-controller="course" asp-action="Index" method="get">
                            <div class="form-group">
                                <input class="form-control" name="searchData" placeholder="Search Here..." type="text" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/menu-main.js"></script>
        <script src="~/js/jquery.nav.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/jquery.counterup.min.js"></script>
        <script src="~/js/waypoints.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/plugins.js"></script>
        <script src="~/js/main.js"></script>

</body>
</html>