@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@inject IHttpContextAccessor HttpContextAccessor
@{ string customerString = HttpContextAccessor.HttpContext.Session.GetString("ValidCustomer");
    Customer customer = null;

    if (customerString != null)
    {
        customer = JsonConvert.DeserializeObject<Customer>(customerString);
    }

}
@model VMBase
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Educavo-By AyShan</title>
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/fav-orange.png">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/css/off-canvas.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/linea-fonts.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/flaticon.css">
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/menu-main.css">
    <link rel="stylesheet" type="text/css" href="~/css/spacing.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">

</head>
<body class="defhome-home">

    <!--Preloader start-->
    <div id="loader" class="loader orange-color">
        <div class="loader-container">
            <div class='loader-icon'>
                <img src="~/images/pre-logo1.png" alt="">
            </div>
        </div>
    </div>
    <!--Full background Start-->
    <div class="full-bg-header header-style1 myhome-stylea">
        <!--Header Start-->
        <header id="ga-header" class="ga-header">
            <!-- Topbar Area Start -->
            <div class="topbar-area home8-topbar">
                <div class="container">
                    <div class="row y-middle">
                        <div class="col-md-7">
                            <ul class="topbar-contact">
                                <li>
                                    <i class="flaticon-email"></i>
                                    <a href="mailto:@Model.Contacts.FirstOrDefault().Email">@Model.Contacts.FirstOrDefault().Email</a>
                                </li>
                                <li>
                                    <i class="flaticon-location"></i>
                                    @Model.Contacts.FirstOrDefault().Address
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 text-right">
                            <ul class="topbar-right">
                                @if (customer != null)
                                {
                                    <li class="user-icon last-icon">
                                        <a asp-controller="account" asp-action="logout" title="Log out"><i class="fa fa-user" aria-hidden="true"></i></a>
                                        
                                    </li>
                                }
                                else
                                {
                                    <li class="login-register">
                                        <i class="fa fa-sign-in"></i>
                                        <a asp-controller="Home" asp-action="Login">Login</a>/<a asp-controller="Home" asp-action="Register">Register</a>
                                    </li>
                                }
                                <li class="btn-part">
                                    <a class="apply-btn" asp-controller="Contact" asp-action="Index">Apply Now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu Start -->
            <div class="menu-area menu-sticky innerpage">
                <div class="container">
                    <div class="row y-middle">
                        <div class="col-lg-2">
                            <div class="mylogo-wrapper">
                                <div class="logo-part">
                                    <a asp-controller="Home" asp-action="Index">
                                        <img src="~/images/dark-logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 text-right">
                            <div class="ga-menu-area">
                                <div class="main-menu">
                                    <div class="mobile-menu">
                                        <a class="ga-menu-toggle">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </div>
                                    <nav class="ga-menu">
                                        <ul class="nav-menu">
                                            <li class="ga-mega-menu mega-ga mymenu-has-child">
                                                <a asp-controller="Home" asp-action="Index">Home</a>
                                            </li>
                                            <li class="mymenu-has-child">
                                                <a asp-controller="About" asp-action="Index">About</a>
                                            </li>

                                            <li class="mymenu-has-child">
                                                <a asp-controller="Course" asp-action="Index">Courses</a>

                                            </li>
                                            <li class="mymenu-has-child">
                                                <a asp-controller="Team" asp-action="Index">Team</a>

                                            </li>

                                            <li class="mymenu-has-child">
                                                <a asp-controller="Blog" asp-action="Index">Blog</a>

                                            </li>
                                            <li class="mymenu-has-child">
                                                <a href="#">Others</a>
                                                <ul class="sub-menu">

                                                    <li class="mymenu-has-child">
                                                        <a asp-controller="Gallery" asp-action="Index">Gallery</a>
                                                    </li>
                                                    <li class="mymenu-has-child">
                                                        <a asp-controller="Faq" asp-action="Index">FAQ</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="mymenu-has-child">
                                                <a asp-controller="Contact" asp-action="Index">Contact</a>
                                            </li>


                                        </ul>

                                    </nav>
                                </div> <!-- //.main-menu -->

                            </div>
                        </div>
                        <div class="col-lg-2 text-right">
                            <div class="expand-btn-inner">
                                <ul>

                                    <li>
                                        <a class="hidden-xs ga-search" data-target=".search-modal" data-toggle="modal" href="#">
                                            <i class="flaticon-search"></i>
                                        </a>
                                    </li>
                                </ul>
                                <span>
                                    <a id="nav-expander" class="nav-expander style2">
                                        <span class="dot1"></span>
                                        <span class="dot2"></span>
                                        <span class="dot3"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Canvas Menu start -->
            <nav class="right_menu_togle hidden-md">
                <div class="close-btn">
                    <div id="nav-close">
                        <div class="line">
                            <span class="line1"></span><span class="line2"></span>
                        </div>
                    </div>
                </div>
                <div class="canvas-logo">
                    <a href="index.html"><img src="~/images/dark-logo.png" alt="logo"></a>
                </div>
                <div class="offcanvas-text">
                    <p>We denounce with righteous indige nationality and dislike men who are so beguiled and demo  by the charms of pleasure of the moment data com so blinded by desire.</p>
                </div>
                <div class="offcanvas-gallery">
                    <div class="gallery-img">
                        <a class="image-popup" href="~/images/gallery/1.jpg"><img src="~/images/gallery/1.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a class="image-popup" href="~/images/gallery/2.jpg"><img src="~/images/gallery/2.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a class="image-popup" href="~/images/gallery/3.jpg"><img src="~/images/gallery/3.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a class="image-popup" href="~/images/gallery/4.jpg"><img src="~/images/gallery/4.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a class="image-popup" href="~/images/gallery/5.jpg"><img src="~/images/gallery/5.jpg" alt=""></a>
                    </div>
                    <div class="gallery-img">
                        <a class="image-popup" href="~/images/gallery/6.jpg"><img src="~/images/gallery/6.jpg" alt=""></a>
                    </div>
                </div>
                <div class="map-img">
                    <img src="~/images/map.jpg" alt="">
                </div>
                <div class="canvas-contact">
                    <ul class="social">
                        @foreach (var item in Model.Socials.OrderByDescending(i => i.Id).Take(4))
                        {
                            <li><a href="@item.Link"><i class="@item.Icon"></i></a></li>
                        }
                    </ul>
                </div>
            </nav>
            <!-- Canvas Menu end -->
        </header>
        <!--Header End-->
    </div>
    <!--Full width header End-->
    @RenderBody()


    <!-- Main content End -->
    <!-- Footer Start -->
    <footer id="ga-footer" class="ga-footer home9-style main-home">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="index.html"><img src="~/images/lite-logo.png" alt=""></a>
                        </div>
                        <div class="textwidget white-color pr-60 md-pr-15">
                            <p>We denounce with righteous indi gnation and dislike men who are so beguiled and demoralized by the charms of pleasure of your moment, so blinded by desire those who fail weakness.</p>
                        </div>
                        <ul class="footer_social">
                            @foreach (var item in Model.Socials.OrderByDescending(i => i.Id).Take(5))
                            {
                                <li>
                                    <a href="@item.Link" target="_blank"><span><i class="@item.Icon"></i></span></a>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                        <h3 class="widget-title">Address</h3>
                        <ul class="address-widget">
                            <li>
                                <i class="flaticon-location"></i>
                                <div class="desc">@Model.Contacts.FirstOrDefault().Address</div>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <div class="desc">
                                    <a href="tel:@Model.Contacts.FirstOrDefault().Phone">@Model.Contacts.FirstOrDefault().Phone</a>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-email"></i>
                                <div class="desc">
                                    <a href="mailto:@Model.Contacts.FirstOrDefault().Email">@Model.Contacts.FirstOrDefault().Email</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 pl-50 md-pl-15 footer-widget md-mb-50">
                        <h3 class="widget-title">Courses</h3>
                        <ul class="site-map">
                            <li><a asp-controller="Course" asp-action="Index">Courses</a></li>
                            <li><a asp-controller="Team" asp-action="Index">Team</a></li>
                            <li><a asp-controller="Gallery" asp-action="Index">Gallery</a></li>
                            <li><a asp-controller="Home" asp-action="Login">Profile</a></li>
                            <li><a asp-controller="Home" asp-action="Register">Login/Register</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                        <h3 class="widget-title">Recent Posts</h3>
                        @foreach (var item in Model.RecentPosts)
                        {
                            <div class="recent-post mb-20">
                                <div class="post-img">
                                    <img src="~/Uploads/Images/@item.Image" alt="">
                                </div>
                                <div class="post-item">
                                    <div class="post-desc">
                                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                                    </div>
                                    <span class="post-date">
                                        <i class="fa fa-calendar"></i>
                                        @item.AddedDate.ToString("MMMM dd, yyyy")
                                    </span>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-lg-6 md-mb-20">
                        <div class="copyright">
                            <p>&copy; 2020 All Rights Reserved. Developed By <a href="#">G.AyShan</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right md-text-left">
                        <ul class="copy-right-menu">
                            <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                            <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- start scrollUp  -->
    <div id="scrollUp" class="orange-color">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->
    <!-- Search Modal Start -->
    <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form asp-controller="course" asp-action="Index" method="get">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." name="searchData" type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/menu-main.js"></script>
    <script src="~/js/jquery.nav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
