@model IEnumerable<EduCavoFinal.Models.SkillToTeam>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title ml-2">Team and Skills relation</h4>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>
                                        Team
                                    </th>
                                    <th>
                                        Skill
                                    </th>
                                    <th>
                                        Persentage
                                    </th>
                                    <th>

                                        <a asp-area="admin" asp-controller="skilltoteams" asp-action="create" class="btn btn-success btn-rounded btn-fw">Create New</a>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @item.Skill.Name

                                    </td>
                                    <td>
                                        @item.Team.FullName

                                    </td>
                                    <td>
                                        @item.Persentage.ToString("##")

                                    </td>
                                    <td>
                                        @if (Model != null)
                                        {
                                            <a asp-area="admin" asp-controller="skilltoteams" asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning" title="edit"><i class="mdi mdi-edit"></i>Edit</a>
                                            <a onclick="return confirm('Are you sure?')" asp-area="admin" asp-controller="skilltoteams" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger" title="delete"><i class="mdi mdi-delete"></i>Delete</a>
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


