@model EduCavoFinal.Models.Team

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create new Team memeber</h4>

                    <form asp-area="admin" asp-controller="teams" asp-action="create" method="post" class="forms-sample" enctype="multipart/form-data">
                        @*<div class="text-danger" asp-validation-summary="All"></div>*@
                        <div class="form-group">
                            <label asp-for="@Model.ImageFile" for="formFile" class="form-label">Image</label>
                            <input asp-for="@Model.ImageFile" type="file" class="form-control" id="formFile" placeholder="Video">
                            <span class="text-danger" asp-validation-for="@Model.ImageFile"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.FullName" for="FullName">FullName</label>
                            <input asp-for="@Model.FullName" type="text" class="form-control" id="FullName" placeholder="FullName">
                            <span class="text-danger" asp-validation-for="@Model.FullName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Position" for="Position">Position</label>
                            <input asp-for="@Model.Position" type="text" class="form-control" id="Position" placeholder="Position">
                            <span class="text-danger" asp-validation-for="@Model.Position"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Info" for="Info">Info</label>
                            <textarea asp-for="@Model.Info" type="text" class="form-control" id="Info" placeholder="Info"></textarea>
                            <span class="text-danger" asp-validation-for="@Model.Info"></span>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label asp-for="@Model.Email" for="Email">Email</label>
                                <input asp-for="@Model.Email" class="form-control" type="email" placeholder="Email">
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.Email"></span>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label asp-for="@Model.Phone" for="Phone" class="form-label">Phone</label>
                                <input asp-for="@Model.Phone" class="form-control" type="text" id="Phone" placeholder="Phone">
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.Phone"></span>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label asp-for="@Model.TotalStudent" for="TotalStudent" class="form-label">TotalStudent</label>
                                <input asp-for="@Model.TotalStudent" class="form-control" type="number" id="TotalStudent" placeholder="TotalStudent">
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.TotalStudent"></span>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label asp-for="@Model.TotalRating" for="TotalRating" class="form-label">TotalRating</label>
                                <input asp-for="@Model.TotalRating" class="form-control" type="number" id="TotalRating" placeholder="TotalRating">
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.TotalRating"></span>
                        </div>
                        <div class="form-group">
                            <div class="mb-3">
                                <label asp-for="@Model.TeamOvercoming" for="TeamOvercoming" class="form-label">TeamOvercoming</label>
                                <input asp-for="@Model.TeamOvercoming" class="form-control" type="text" id="TeamOvercoming" placeholder="TeamOvercoming">
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.TeamOvercoming"></span>
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Create</button>
                        <button asp-area="admin" asp-controller="teams" asp-action="index" class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
